* {
  margin: 0;
  background-color: #f4f6f8;
}

input,
button {
  border: none;
}

input:focus {
  outline: white;
}

button {
  background: none;
  cursor: pointer;
  padding: 0;
}

ol,
ul,
li {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

em {
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  padding: 0;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.header {
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header__menu {
  width: 44px;
  height: 44px;
  margin: 8px;
  display: inline-block;
  display: block;
  background: url("/naver/src/images/sp/sp-main-search.png");
  background-repeat: no-repeat;
  background-position: 0 -145px;
  background-size: 323px 234px;
  content: "";
}
.header__mydata__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 8px;
}
.header__mydata__list__item .qr {
  width: 64px;
  height: 29px;
  display: block;
  background: url("/naver/src/images/sp/sp-main-search.png");
  background-repeat: no-repeat;
  background-position: -196px -145px;
  background-size: 323px 234px;
  content: "";
}
.header__mydata__list__item .npay {
  margin-left: 8px;
  width: 40px;
  height: 40px;
  display: block;
  background: url("/naver/src/images/sp/sp-main-search.png");
  background-repeat: no-repeat;
  background-position: -90px -194px;
  background-size: 323px 234px;
  content: "";
}
.header__mydata__list__item .alert {
  width: 40px;
  height: 40px;
  display: block;
  background: url("/naver/src/images/sp/sp-main-search.png");
  background-repeat: no-repeat;
  background-position: -47px -194px;
  background-size: 323px 234px;
  content: "";
}
.header__mydata__list__item .na {
  width: 44px;
  height: 44px;
  display: block;
  background: url("/naver/src/images/sp/sp-main-search.png");
  background-repeat: no-repeat;
  background-position: -262px -77px;
  background-size: 323px 234px;
  content: "";
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 488px;
  max-width: 488px;
  height: 52px;
  padding: 0 10px;
  border: 1px solid #03cf5d;
  border-radius: 26px;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(117, 145, 181, 0.12);
}
.searchbar__logo__image {
  width: 40px;
  height: 40px;
  display: block;
  background: url("/naver/src/images/sp/sp-main-search.png");
  background-repeat: no-repeat;
  background-position: 0 -194px;
  background-size: 323px 234px;
  content: "";
  background-color: #03c75a;
}
.searchbar__input {
  width: 100%;
  font-size: 16px;
  margin-left: 8px;
  background-color: #fff;
}
.searchbar__button-voice {
  width: 34px;
  height: 34px;
  display: block;
  background: url("/naver/src/images/sp/sp-main-search.png");
  background-repeat: no-repeat;
  background-position: -135px -194px;
  background-size: 323px 234px;
  content: "";
  background-color: #03c75a;
}

.navbar {
  width: 360px;
  max-width: 360px;
  margin: 24px auto;
}
.navbar__list {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(2, 78px);
  grid-template-columns: repeat(4, minmax(88px, 4fr));
}
.navbar__shortcut__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__shortcut__text {
  font-size: 11px;
  margin-top: 8px;
}
.navbar__image {
  width: 44px;
  height: 44px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__ad {
  margin: 64px auto 0px auto;
}
.content__ad__image {
  width: 375px;
}

/*# sourceMappingURL=main.css.map */
